<nav>
    <a class="button"
       routerLink="/houses"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Houses
    </a> |
    <a class="button"
       routerLink="/characters"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
       Characters
    </a>
    <a class="button"
    routerLink="/books"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Books
 </a>
 <a class="button"
 routerLink="/home"
 routerLinkActive="activebutton"
 ariaCurrentWhenActive="page">
 Home
</a>
</nav>
